.example-spacer {
  flex: 1 1 auto;
}
.example-icon {
  padding: 0 14px;
}
.profileImg {
  position: relative;
  top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
}
.userName {
  height: 50px;
  line-height: 50px;
}
