<div style="text-align:center">
  <h1>Welcome to CMS with Angular 15</h1>
  <h2>What's new in Angular 15</h2>
  <div class="center-ul">
    <ul>
      <li>
        <h3>Stable standalone APIs</h3>
      </li>
      <li>
        <h3>Introducing a new API system</h3>
      </li>
      <li>
        <h3>Debugging made easy with improved stack traces</h3>
      </li>
      <li>
        <h3>Improved experimental ESbuild support</h3>
      </li>
      <li>
        <h3>Single file components</h3>
      </li>
      <li>
        <h3>More stable image directives</h3>
      </li>
      <li>
        <h3>Stabilized MDC-based components</h3>
      </li>
    </ul>
  </div>
  <img width="300" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png">
</div>
